body {
  background-color: rgba(0, 0, 0, 0.829);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: cursive;
  overflow-x: hidden;
}
.container{
    width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: rgba(0, 0, 0, 0.315);
  padding: 0px 40px 0px 40px;
  animation:dropdown 1s ease;

}
header .left {
  display: flex;
}
header .right button {
  width: 300px;
  border-radius: 20px;
  border: 0;
  background: linear-gradient(
    90deg,
    rgb(255, 119, 142),
    rgba(255, 255, 56, 0.952)
  );
  font-weight: 600;
  font-family: cursive;
  margin-top: 28px;
  color: white;
  font-size: 1.3em;
  padding: 10px;
  box-shadow: 0 0 3px rgb(255, 119, 142), 0 0 3px rgba(255, 255, 35, 0.952);
  opacity: 0.96;
}
header .right button:hover{
    transform: translateY(-2px);
    cursor: pointer;
  box-shadow: 0px 4px 0px rgb(255, 119, 142), 0px 0px 10px rgba(255, 255, 35, 0.952);
}
header h2 {
  margin-top: 38px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.7em;
  color: rgb(255, 119, 142);
  text-shadow: 0 0 15px rgb(255, 119, 142);
}
header h2 b{
  color: rgba(255, 255, 56, 0.952);
  text-shadow: 0 0 15px rgba(255, 255, 35, 0.952);
}
main{
    padding: 0px 0 0 50px;
    margin-right: 0;
}
main .welcomeMsg{
    width: 40%;
    text-align: center;
    float: left;
  animation:dropdown 1s ease;
    margin-top: 80px;
}
.welcomeMsg b{
  color: rgba(255, 166, 0, 0.897);
}
.welcomeMsg button{
  padding: 15px;
  font-size: 1.2rem;
  font-weight: 600;
  width: 220px;
  border-radius: 15px;
  margin: 40px 10px;
  color: white;
  background-color: rgb(69, 69, 212);
  cursor: pointer;
  font-family: cursive;
  border: 0;
}
.welcomeMsg button:hover{
  background-color: rgb(52, 52, 175);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.363);
  scale: 1.01;
}
.welcomeMsg p{
  max-width: 300px;
  text-align: center;
  margin: auto;
  line-height: 25px;
}
main .image{
    float: right;
    width: 50%;
    margin-top: 80px;
}
.img{
  animation:dropdown 1s ease;
}
@keyframes dropdown {
  0%{
    transform: translateY(-2000px);
  }
  100%{
    transform: translateY(0px);
  }
}
